table {
    width: 800px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th,
td {
    padding: 15px;
    background-color: rgba(41, 25, 25, 0.2);
    color: rgb(255, 255, 255);
}



.table button{

    border: 2px solid #000000;
    padding: 5px 20px;
    outline: none;
    color: rgb(255, 255, 255);
    border-radius: 24px;
    transition: 0.25s;
    margin-left: 10px;
    cursor: pointer
}

#renk{
    color: white;
  }
  