<body  class="ftco-cover-1 overlay innerpage"
    style="background-image: url('https://i.hizliresim.com/jdmobc6.png'); background-size: 100% 100%;" >
    <a href="http://www.firat.edu.tr/tr"><img  class="aw-zoom2 " src="https://i.hizliresim.com/hap5fcb.png" href="http://www.firat.edu.tr/tr" style="margin-left:44%; ; margin-top: 50px;" alt="" width="220" height="220"></a>
    
    <div class="d-grid gap-2 d-md-flex justify-content-center">
        <div class="row" style="margin-top: 187px;">
              <div class="aw-zoom" style="width: 19rem; padding: 15px; opacity:0.90;" >
                <img  src="https://i.hizliresim.com/6f5ajab.png" routerLink="/idareci/login" class="card-img-top" alt="" width="300" height="260">
                <button  type="submit" style="margin-left: 60px; opacity:0.85; margin-top: 10px;" routerLink="/idareci/login" class="btn btn-primary" >İdareci Girişi</button>  
            </div>
          </div>
          <div class="row" style="margin-top: 180px;">

              <div class="aw-zoom" style="width: 19rem; padding: 15px;  margin:4px; opacity:0.90;" >
                <img src="https://i.hizliresim.com/it321dh.png" routerLink="/akademisyen/login" class="card-img-top" alt="" width="300" height="260">
                <button  type="submit" style="margin-left: 45px; opacity:0.85; margin-top: 10px;" routerLink="/akademisyen/login" class="btn btn-primary" >Akademisyen Girişi</button>
            </div>
          </div>
          <div class="row" style="margin-top: 180px;">

              <div class="aw-zoom" style="width: 19rem; padding: 15px;  margin:4px; opacity:0.90;" >
                <img  src="https://i.hizliresim.com/me9w1yi.png" routerLink="/ogrenci/login" class="card-img-top" alt="" width="300" height="260">
                <button  type="submit" style="margin-left: 65px; opacity:0.85; margin-top: 10px;" routerLink="/ogrenci/login" class="btn btn-primary" >Öğrenci Girişi</button>
            </div>
          </div>
          
          
      </div>
      <div style="margin-top: 150px;">
        aksoyTakımı--->GİZEM UÇAR--->YUSUF ÇAĞLAR AKSOY---->KADİR ŞEHMUS ARSLAN---->SERHAT KARCI---->FATİH ALICI----->TUNCAY FORMA---->MEHMET BERK GÜLŞEN---->FURKAN EMİR---->ALİ MERT BAKIR---->ÇAĞATAY UÇER
      </div>
    </body>