<footer class="bg-dark text-center text-white">
    <div class="container p-4">
      <section class="mb-4">
        <p>
          Fırat Üniversitesi Öğrenci Bilgi Sistemi<br />
          Takım Üyeleri
        </p>
      </section>

      <section class="">
        <div class="row">
          <div class="col-lg-3 ">
            <h5 class="text-uppercase">LINKEDIN</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="https://www.linkedin.com/in/yusuf-çağlar-aksoy-81b4b6207/" class="text-white">YUSUF ÇAĞLAR AKSOY</a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/fthalc/" class="text-white">FATİH ALICI</a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/tuncay-forma-b969621a2/" class="text-white">TUNCAY FORMA</a>
              </li>
              <li>
                <a  class="text-white">FURKAN EMİR</a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/ali-mert-bakir-8a7b58200/" class="text-white">ALİ MERT BAKIR</a>
              </li>
            </ul>
          </div>

          <div class="col-lg-3">
            <h5 class="text-uppercase">Github</h5>
  
            <ul class="list-unstyled mb-0">
                <li>
                  <a href="https://github.com/YusufCaglarAksoy" class="text-white">YUSUF ÇAĞLAR AKSOY</a>
                </li>
                <li>
                  <a href="https://github.com/fthalc" class="text-white">FATİH ALICI</a>
                </li>
                <li>
                  <a href="https://github.com/tuncayforma" class="text-white">TUNCAY FORMA</a>
                </li>
                <li>
                  <a href="#!" class="text-white">FURKAN EMİR</a>
                </li>
                <li>
                  <a href="https://github.com/AliMrtB" class="text-white">ALİ MERT BAKIR</a>
                </li>
              </ul>
          </div>

          <div class="col-lg-3">
            <h5 class="text-uppercase">LINKEDIN</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="https://www.linkedin.com/in/gizem-uçar-644a33209/" class="text-white">GİZEM UÇAR</a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/kadir-şehmus-arslan-29716420a/" class="text-white">KADİR ŞEHMUS ARSLAN</a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/mehmet-berk-gülşen-5784a31b0/" class="text-white">MEHMET BERK GÜLŞEN</a>
              </li>
              <li>
                <a  class="text-white">SERHAT KARCI</a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/çağatay-ucer-1a7b45196/" class="text-white">ÇAĞATAY UÇER</a>
              </li>
            </ul>
          </div>

          <div class="col-lg-3">
            <h5 class="text-uppercase">Github</h5>
  
            <ul class="list-unstyled mb-0">
                <li>
                  <a href="https://github.com/gizem-ucar" class="text-white">GİZEM UÇAR</a>
                </li>
                <li>
                  <a href="https://github.com/kadirarsln" class="text-white">KADİR ŞEHMUS ARSLAN</a>
                </li>
                <li>
                  <a href="https://github.com/berkgulsen" class="text-white">MEHMET BERK GÜLŞEN</a>
                </li>
                <li>
                  <a href="https://github.com/KarciSerhat" class="text-white">SERHAT KARCI</a>
                </li>
                <li>
                  <a href="https://github.com/ucercagatay" class="text-white">ÇAĞATAY UÇER</a>
                </li>
              </ul>
          </div>

        </div>
      </section>
    </div>

    <div class="text-center p-3" style="background-color: #9b1e48;">
      © 2021 Nesne Tabanlı Programlama : @Aksoy Takımı
    </div>
  </footer>