<div class="d-flex" style="margin-top: 10px;">

  <div class="card1" style="width: 18rem; margin-left: 160px;">
    <svg  xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16" style="margin-top: 2rem; margin-left: 23px;">
      <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
      <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
    </svg>
    <div class="card-body">
      <h5 class="card-title">Danışman Bilgileri</h5>
      <p class="card-text">{{ogrenci.danismanAdi}}{{ogrenci.danismanSoyadi}}</p>
      <!-- <p class="card-text">{{ogrenci.danismanSoyadi}}</p> -->
      <button type="button" routerLink="/ogrenci/danismanBilgileri" type="button" class="btn btn-light">Detaylar</button>
    </div>
  </div>

  <div class="card2" style="width: 18rem; margin-left: 75px;">
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-file-earmark" viewBox="0 0 16 16" style="margin-top: 2rem; margin-left: 23px;">
      <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z"/>
    </svg>
    <div class="card-body">
      <h5 class="card-title">Öğrenim Bilgileri</h5>
      <p class="card-text">{{ogrenci.fakulteAdi}}</p>
      <p class="card-text">{{ogrenci.bolumAdi}}</p>
    </div>
  </div>

  <div  class="card3" style="width: 18rem; margin-left: 75px;">
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-collection" viewBox="0 0 16 16" style="margin-top: 2rem; margin-left: 23px;">
      <path d="M2.5 3.5a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-11zm2-2a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6v7zm1.5.5A.5.5 0 0 1 1 13V6a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13z"/>
    </svg>
    <div  class="card-body">
      <h5 class="card-title">Aktif Akademik Dönem Bilgileri</h5>
      <p class="card-text">{{ogrenci.kayitTarihi}}</p>
      <button type="button" routerLink="/ogrenci/genelBilgiler" type="button" class="btn btn-light">Detaylar</button>
    </div>
  </div>
</div>