<h4><span class="badge bg-dark">Bölüm Dersleri</span><span class="badge bg-primary"></span></h4>
    <div class="row"><table class="table table-dark table-hover">
        <thead>
            <tr>
              <th scope="col">Ders Kodu</th>
              <th scope="col">Ders Adı</th>
              <th scope="col">Sınıf</th>
              <th scope="col">Dönem Adı</th>
            </tr>
          </thead>

          <tbody *ngFor= "let ders of dersler" >
            <tr >
              <th >{{ders.dersKodu}}</th>
              <td>{{ders.dersAdi}}</td>
              <td>{{ders.sinif}}</td>
              <td>{{ders.donemAdi}}</td>
          </tr>
      </tbody>

    </table></div>