
<div *ngIf="checkHomePage()" >
      <router-outlet></router-outlet>
</div>
<div *ngIf="checkOgrenciPage()" >
      <body  class="ftco-cover-1 overlay innerpage" style="background-image: url('https://i.hizliresim.com/kgxmabf.png'); background-size: 100% 100%; "  >
    
            <app-ogrenci-navbar></app-ogrenci-navbar>      
            <div class="row">
                  <div class="sidebar">
                        <app-ogrenci-sidebar></app-ogrenci-sidebar>
                  </div>
                  <div class="content">
                        <router-outlet></router-outlet>
                  </div>
            </div>
            <div style="margin-top: 820px;">
                  <app-footer></app-footer>
            </div>
            </body>
</div>

<div *ngIf="checkIdareciPage()" >
      <body  class="ftco-cover-1 overlay innerpage" style="background-image: url('https://i.hizliresim.com/kgxmabf.png'); background-size: 100% 100%; "  >
    
            <app-idareci-navbar></app-idareci-navbar>      
            <div class="row">
                  <div class="sidebar">
                        <app-idareci-sidebar></app-idareci-sidebar>
                  </div>
                  <div class="content">
                        <router-outlet></router-outlet>
                  </div>
            </div>
            <div style="margin-top: 820px;">
                  <app-footer></app-footer>
            </div>
            </body>
</div>

<div *ngIf="checkAkademisyenPage()" >
      <body  class="ftco-cover-1 overlay innerpage" style="background-image: url('https://i.hizliresim.com/kgxmabf.png'); background-size: 100% 100%; "  >
    
            <app-akademisyen-navbar></app-akademisyen-navbar>      
            <div class="row">
                  <div class="sidebar">
                        <app-akademisyen-sidebar></app-akademisyen-sidebar>
                  </div>
                  <div class="content">
                        <router-outlet></router-outlet>
                  </div>
            </div>
            <div style="margin-top: 820px;">
                  <app-footer></app-footer>
            </div>
            </body>
</div>



     

