<table class="table table-dark table-hover" style="margin-top: 20px;">
	<caption><br></caption>
	<thead>
	<tr>
		<th>Gün</th>
		<th>Saat</th>
		<th>1. Sınıf</th>
		<th>2. Sınıf</th>
		<th>3. Sınıf</th>
		<th>4. Sınıf</th>
	</tr>
	</thead>
	<tbody style="text-align: center;">
	<tr>
		<td>Pazartesi</td>
		<td> 
            <tr>8.15-9.00</tr>
            <tr>9.15-10.00</tr>
            <tr>10.15-11.00</tr>
            <tr>11.15-12.00</tr>
            <tr>12.15-13.00</tr>
            <tr>13.15-14.00</tr>
            <tr>14.15-15.00</tr>
            <tr>15.15-16.00</tr>
            <tr>16.15-17.00</tr>
        </td>
		<td> 
            <tr>FIZ 105</tr>
            <tr>FIZ 105</tr>
            <tr>&nbsp;</tr>
            <tr>&nbsp;</tr>
            <tr>&nbsp;</tr>
            <tr>FIZ 111</tr>
            <tr>FIZ 111</tr>
            <tr>MAT 161</tr>
            <tr>MAT 161</tr>
        </td>
		<td> 
            <tr>&nbsp;</tr>
            <tr>MAT 205 + MAT 217</tr>
            <tr>MAT 205 + MAT 217</tr>
            <tr>Lineer Cebir</tr>
            <tr>&nbsp;</tr>
            <tr>YMÜ 213 </tr>
            <tr>Mesleki İngilizce I</tr>
            <tr>&nbsp;</tr>
            <tr>&nbsp;</tr>
        </td>
		<td>
            <tr>YMÜ 317</tr>
            <tr>Veri Tabanı ve Yönetim Sist.</tr>
            <tr>YMÜ 317</tr>
            <tr>Veri Tabanı ve Yönetim Sist.</tr>
            <tr>Lab</tr>
            <tr>YMÜ 313 LAB</tr>
            <tr>Web Tasarımı ve Prog.</tr>
            <tr>&nbsp;</tr>
            <tr>&nbsp;</tr>
        </td>
		<td>
            <tr>&nbsp;</tr>
            <tr>YMÜ 411</tr>
            <tr>Yazılım Örüntüleri</tr>
            <tr>"</tr>
            <tr>&nbsp;</tr>
            <tr>YMÜ 413</tr>
            <tr>Veri İlet. ve Bil Ağları</tr>
            <tr>"</tr>
            <tr>&nbsp;</tr>
        </td>
	</tr>
	<tr>
		<td>&nbsp;Salı</td>
		<td> 
            <tr>8.15-9.00</tr>
            <tr>9.15-10.00</tr>
            <tr>10.15-11.00</tr>
            <tr>11.15-12.00</tr>
            <tr>12.15-13.00</tr>
            <tr>13.15-14.00</tr>
            <tr>14.15-15.00</tr>
            <tr>15.15-16.00</tr>
            <tr>16.15-17.00</tr>
        </td>
		<td>
            <tr>YMÜ 113</tr>
            <tr>Bil. Bilimlerine Giriş</tr>
            <tr>"</tr>
            <tr>&nbsp;</tr>
            <tr>&nbsp;</tr>
            <tr>&nbsp;</tr>
            <tr>&nbsp;</tr>
            <tr>&nbsp;</tr>
            <tr>&nbsp;</tr>
        </td>
		<td>
            <tr>&nbsp;</tr>
            <tr>YMÜ 211</tr>
            <tr>Ayrık Yapılar</tr>
            <tr>"</tr>
            <tr>&nbsp;</tr>
            <tr>YMÜ 223 + YMÜ 219</tr>
            <tr>Veri Yapıları</tr>
            <tr>"</tr>
            <tr>&nbsp;</tr>
        </td>
		<td>
            <tr>YMÜ 313</tr>
            <tr>Web Tasarımı ve Prog.</tr>
            <tr>"</tr>
            <tr>&nbsp;</tr>
            <tr>&nbsp;</tr>
            <tr>&nbsp;</tr>
            <tr>&nbsp;</tr>
            <tr>&nbsp;</tr>
            <tr>&nbsp;</tr>
        </td>
		<td>
            <tr>YMÜ 415</tr>
            <tr>Yazılım Geçerleme ve Sınama</tr>
            <tr>"</tr>
            <tr>&nbsp;</tr>
            <tr>YMÜ 414</tr>
            <tr>Bitirme Projesi</tr>
            <tr>&nbsp;</tr>
            <tr>&nbsp;</tr>
            <tr>&nbsp;</tr>
        </td>
	</tr>
	<tr>
		<td>&nbsp;Çarşamba</td>
		<td> 
            <tr>8.15-9.00</tr>
            <tr>9.15-10.00</tr>
            <tr>10.15-11.00</tr>
            <tr>11.15-12.00</tr>
            <tr>12.15-13.00</tr>
            <tr>13.15-14.00</tr>
            <tr>14.15-15.00</tr>
            <tr>15.15-16.00</tr>
            <tr>16.15-17.00</tr>
        </td>
		<td>
            <tr>&nbsp;</tr>
            <tr>YMÜ 111</tr>
            <tr>Algoritma ve Prog. I</tr>
            <tr>"</tr>
            <tr>&nbsp;</tr>
            <tr>YMÜ 211 Lab</tr>
            <tr>Algoritma ve Prog. I</tr>
            <tr>&nbsp;</tr>
            <tr>&nbsp;</tr>
        </td>
		<td>
            <tr>MAT 271 + YMÜ 221</tr>
            <tr>MAT 271 + YMÜ 221</tr>
            <tr>&nbsp;</tr>
            <tr>&nbsp;</tr>
            <tr>&nbsp;</tr>
            <tr>YMÜ 223 + YMÜ 219</tr>
            <tr>Veri Yapıları Lab</tr>
            <tr>&nbsp;</tr>
            <tr>&nbsp;</tr>
        </td>
		<td>
            <tr>&nbsp;</tr>
            <tr>YMÜ 319</tr>
            <tr>Programlama Dilleri</tr>
            <tr>"</tr>
            <tr>&nbsp;</tr>
            <tr>YMÜ 315</tr>
            <tr>İşletim Sistemleri</tr>
            <tr>&nbsp;</tr>
            <tr>&nbsp;</tr>
        </td>
		<td>
            <tr>YMÜ 417</tr>
            <tr>Mesleki Uygulama II</tr>
            <tr>YMÜ 413</tr>
            <tr>Veri İlet. ve Bil. Ağları</tr>
            <tr>Lab</tr>
            <tr>&nbsp;</tr>
            <tr>YMÜ 433</tr>
            <tr>Biyomedikal Müh.</tr>
            <tr>"</tr>
        </td>
	</tr>
	<tr>
		<td>Perşembe</td>
		<td> 
            <tr>8.15-9.00</tr>
            <tr>9.15-10.00</tr>
            <tr>10.15-11.00</tr>
            <tr>11.15-12.00</tr>
            <tr>12.15-13.00</tr>
            <tr>13.15-14.00</tr>
            <tr>14.15-15.00</tr>
            <tr>15.15-16.00</tr>
            <tr>16.15-17.00</tr>
        </td>
		<td>
            <tr>MAT 161</tr>
            <tr>MAT 161</tr>
            <tr>FİZ 111</tr>
            <tr>FİZ 111</tr>
            <tr>&nbsp;</tr>
            <tr>&nbsp;</tr>
            <tr>&nbsp;</tr>
            <tr>&nbsp;</tr>
            <tr>&nbsp;</tr>
        </td>
		<td>
            <tr>&nbsp;</tr>
            <tr>&nbsp;</tr>
            <tr>YMÜ 225</tr>
            <tr>Yazılım Gereksinim ve Analizi</tr>
            <tr>"</tr>
            <tr>&nbsp;</tr>
            <tr>&nbsp;</tr>
            <tr>&nbsp;</tr>
            <tr>&nbsp;</tr>
        </td>
		<td>
            <tr>YMÜ 323</tr>
            <tr>Mesleki Uygulama I</tr>
            <tr>YMÜ 321</tr>
            <tr>Yazılım Gereksinim ve Analizi</tr>
            <tr>"</tr>
            <tr>&nbsp;</tr>
            <tr>&nbsp;</tr>
            <tr>&nbsp;</tr>
            <tr>&nbsp;</tr>
        </td>
		<td>
            <tr>&nbsp;</tr>
            <tr>&nbsp;</tr>
            <tr>YMÜ 433 Lab</tr>
            <tr>Biyomedikal Müh.</tr>
            <tr>&nbsp;</tr>
            <tr>&nbsp;</tr>
            <tr>&nbsp;</tr>
            <tr>&nbsp;</tr>
            <tr>&nbsp;</tr>
        </td>
	</tr>
	<tr>
		<td>&nbsp;Cuma</td>
		<td> 
            <tr>8.15-9.00</tr>
            <tr>9.15-10.00</tr>
            <tr>10.15-11.00</tr>
            <tr>11.15-12.00</tr>
            <tr>12.15-13.00</tr>
            <tr>13.15-14.00</tr>
            <tr>14.15-15.00</tr>
            <tr>15.15-16.00</tr>
            <tr>16.15-17.00</tr>
        </td>
		<td>
            <tr>&nbsp;</tr>
            <tr>&nbsp;</tr>
            <tr>&nbsp;</tr>
            <tr>&nbsp;</tr>
            <tr>&nbsp;</tr>
            <tr>&nbsp;</tr>
            <tr>&nbsp;</tr>
            <tr>&nbsp;</tr>
            <tr>&nbsp;</tr>
        </td>
		<td>
            <tr>&nbsp;</tr>
            <tr>&nbsp;</tr>
            <tr>MAT 271 + YMÜ 221</tr>
            <tr>MAT 271 + YMÜ 221</tr>
            <tr>&nbsp;</tr>
            <tr>&nbsp;</tr>
            <tr>YMÜ 215</tr>
            <tr>Mantık Devreleri</tr>
            <tr>"</tr>
        </td>
		<td>
            <tr>&nbsp;</tr>
            <tr>YMÜ 311</tr>
            <tr>Biçimsel Dİller ve Otomata Teo.</tr>
            <tr>"</tr>
            <tr>&nbsp;</tr>
            <tr>&nbsp;</tr>
            <tr>&nbsp;</tr>
            <tr>&nbsp;</tr>
            <tr>&nbsp;</tr>
        </td>
		<td>
            <tr>&nbsp;</tr>
            <tr>YMÜ 425</tr>
            <tr>Uygulamalı Sinir Ağları</tr>
            <tr>"</tr>
            <tr>&nbsp;</tr>
            <tr></tr>
            <tr>YMÜ 425 Lab</tr>
            <tr>Uygulamalı Sinir Ağları</tr>
            <tr>&nbsp;</tr>
        </td>
	</tr>
	<tbody>
</table>