<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th>Öğrenci isim</th>
            <th>Öğrenci Soyadı</th>
            <th>Öğrenci Email</th>
            <th>Öğrenci Numarası</th>
        </tr>

    </thead>
    
    <tbody *ngFor="let ogrenci of ogrenciler">
        <tr>
            <td>{{ogrenci.isim}}</td>
            <td>{{ogrenci.soyad}}</td>
            <td>{{ogrenci.eMail}}</td>
            <td>{{ogrenci.ogrenciNo}}</td>
        </tr>
    </tbody>
</table>