<body  class="ftco-cover-1 overlay innerpage"
    style="background-image: url('https://i.hizliresim.com/fhe5312.png')" >
    <a href="http://www.firat.edu.tr/tr"><img  class="aw-zoom2" src="https://i.hizliresim.com/hap5fcb.png" href="http://www.firat.edu.tr/tr" style="margin-left:852px ; margin-top: 17px;" alt="" width="220" height="220"></a>
    
    <div class="container">
    <div class="row" style="margin-left: 90px;">
        <div class="col-md-6">
  
            <form class="box" [formGroup]="loginForm">
                <h1>İDARECİ GİRİŞİ</h1>
                <input type="number" placeholder="Sicil No"
                    formControlName="loginNo">
  
                <input type="password" name="" placeholder="Şifre"
                    formControlName="password">
  
                <input type="submit" name="" value="Giriş Yap" (click)="login()">
            </form>
        </div>
    </div>
  </div>
  <div style="margin-top: 222px;">
    @aksoyTakımı--->YUSUF ÇAĞLAR AKSOY--->GİZEM UÇAR---->KADİR ŞEHMUS ARSLAN---->SERHAT KARCI---->FATİH ALICI----->TUNCAY FORMA---->MEHMET BERK GÜLŞEN---->FURKAN EMİR---->ALİ MERT BAKIR---->ÇAĞATAY UÇER
  </div>
</body>