<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
    
      <a routerLink="/ogrenci/anasayfa"><img  class="aw-zoom2" src="https://i.hizliresim.com/93o1xyu.png"  style="margin-left: 20px;" alt="" width="240" height="60"></a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" ></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" ></a>
          </li>

          <li class="nav-item">
            <a class="nav-link disabled"  tabindex="-1" aria-disabled="true"></a>
          </li>
        </ul>
        <form class="d-flex dropdown" style="margin-right: 68px;">
          
          <th class="nav-link"  id="navbarDropdown" role="button" data-bs-toggle="dropdown" style="margin-top: 2px; margin-left: 10px; color: rgb(255, 255, 255);">
            {{ ogrenciDetayDto.isim }} {{ ogrenciDetayDto.soyad }}
          </th>
          <img class="image"src="{{getUserPhoto()}}" style="margin-left: 5px;" alt="" width="35" height="45">
          <ul class="dropdown-menu " aria-labelledby="navbarDropdown">
            <img class="background-image" src="{{getUserPhoto()}}" style="margin-left: 56px;" alt="" width="70" height="90">
            <div class="box">{{ ogrenciDetayDto.ogrenciNo }}<br /> {{ ogrenciDetayDto.isim }} {{ ogrenciDetayDto.soyad }} <br /> {{ ogrenciDetayDto.bolumAdi }}</div>
            <div class="d-flex" style="margin-top: 4px;">
              <button class="btn btn-success" routerLink="ogrenci/kullaniciBilgileri">Profilim </button>
              <button class="btn btn-danger" (click)="logout()">Çıkış Yap</button>
            </div>
          </ul>
        </form>
      </div>
    </div>
  </nav>

  