<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
    
      <a href="http://www.firat.edu.tr/tr"><img  class="aw-zoom2" src="https://i.hizliresim.com/93o1xyu.png" href="http://www.firat.edu.tr/tr" style="margin-left: 20px;" alt="" width="240" height="60"></a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" ></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" ></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link "  id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" ></a></li>
              <li><a class="dropdown-item" > </a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" ></a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled"  tabindex="-1" aria-disabled="true"></a>
          </li>
        </ul>
        <form class="d-flex dropdown">
          
          <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ ogrenciDetayDto.isim }} {{ ogrenciDetayDto.soyad }}
          </a>
          <img src="{{fotografYolu}}" style="margin-left: 20px;" alt="" width="35" height="50">
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <tr> {{ ogrenciDetayDto.isim }} {{ ogrenciDetayDto.soyad }}</tr>
          </ul>
        </form>
      </div>
    </div>
  </nav>

  